<!DOCTYPE html>
<html>
  <head>
    <title>Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if @current_user %>
    <ul class="nav nav-tabs">


      <li class="nav-item">
        <%= link_to "#{@current_user.name}", "/users/#{@current_user.id}"%>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/how">使い方</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/contact">お問い合わせ</a>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", "/logout",{method:"post"}%>
      </li>
    </ul>

  <% else %>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/home/how">使い方</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/contact">お問い合わせ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">ログイン</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="signup">新規登録</a>
      </li>
    </ul>
  <% end %>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

  
    <%= yield %>
  </body>
</html>
